@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}
.active {
  @apply text-secondary dark:md:text-white;
}
.nav-links li a {
  transition: color 0.2s;
  font-size: 20px;
  &:hover {
    color: #545454;
  }
}
html.dark .nav-links li a:hover {
  color: white;
}
.step > div {
  position: relative;
}
.steps > div:not(:last-child) .img-wrapper::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 80px;
  background-color: #545454;
  left: 50%;
  transform: translateX(-50%);
  top: 140%;
}
